.\interesting\DatabaseUpdate\DatabaseUpdate\Release\
.\interesting\DatabaseUpdate\DatabaseUpdate\Debug\
.\interesting\DatabaseUpdate\Project1\Debug\
.vscode/
*.exe
*.spec
dist/
build/
__pycache__/
*.ini
*.txt
*.ipch
*.tlog
*.opendb
*.ilk
*.ilk
*.idb
*.db
*.aps
*.filters
*.obj
*.pch
*.res
*.log
